@mixin estilosFuentes {
	font-family: $fuenteRoboto;
	color: $colorGris;
}

@mixin fuentesTitulos {
	font-family: $fuenteRoboto;
	color: $colorGrisOscuro;
}

@mixin lineaAzul {
	border: solid 2px $colorAzul;
	padding: 0;
	min-height: 0;
	text-align: center;
}

@mixin fuenteAzul {
	color: $colorAzul;
	font-size: $letraChica;
	color: $colorAzul;
}

