/*variables*/
/*fuente:*/
$fuenteRoboto:'Roboto', sans-serif;
$centrado: center;
$izquierda: left;
$letraChica:0.8vw;
$letraMediana:1vw;
$letraGrande:2vw;
$listaSimple: none;
/*dimensiones*/
$paddingMediano: 5%;
$paddingChico: 2%;
$marginIzquierdoCentrado: 10%;
$cien: 100%;
