@import'grid';
@import'colors';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
			/*variables*/
/*fuente:*/
$fuenteRoboto:'Roboto', sans-serif;
$centrado: center;
$izquierda: left;
$letraChica:0.8vw;
$letraMediana:1vw;
$letraGrande:2vw;
	
/*dimensiones*/
$paddingMediano: 5%;
$paddingChico: 2%;
$marginIzquierdoCentrado: 10%;
$cien: 100%;




		/*modificación de elementos*/
header{
 text-align: $centrado;
	
	img{
		margin-left: 10%;
	}
	
	ul{
	  list-style: none;
	  font-family: $fuenteRoboto;
	 }
	li{
	    font-weight: bold;
		padding: $paddingChico;
		display: inline-block;
	}

}

 .contenedorImg{
	text-align: $centrado;
	height: $cien;
	width: $cien;
	
	img{
	 height: 95%;
	 width: 95%;
	}	
 }	

.contenedorimgChica {
	
	img{
	 height: 100%;
	 width: 100%;
	 border-radius: 50%;
	}	
	
		

}
.texto-Episode1{
 font-family: $fuenteRoboto;
 margin-left: 1%;
	h2,h4{
	 padding: 1%;
	}
 
	h5{
	  color: $colorGris;
	  padding: $paddingChico;
	}
	p{
		padding: $paddingChico;
		color: $colorGris;
	}
}

.lineaAzul{
	border: solid 2px $colorAzul;
	padding: 0;
	min-height: 0;
	text-align: center;
}
/*
@mixin lineaAzul{
	hr{
	border: solid ;
	border-color: $colorAzul;
	padding: 0;
	min-height: 0;
	text-align: center;
	margin-left: 1.5%;
	}
	
}*/


.titulo{
	font-size: $letraGrande;
	font-family: $fuenteRoboto;
	color: $colorGris;
	text-align: $izquierda;
}


.news{
	font-family: $fuenteRoboto;
	
	.fecha{
		color: $colorGrisClaro;
		font-size: $letraMediana;
		padding: 2%;
	}
	
	.azul{
		color: $colorAzul;
		font-size: $letraChica;
		color: $colorAzul;
	}
	
	.sobre{
  background: $colorBanco;
  margin-top:15%;
 }
}





















