@import'grid';
@import'colors';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
			/*variables*/
/*fuente:*/
$fuenteRoboto:'Roboto', sans-serif;
$centrado: center;
$letraChica:0.8vw;
$letraMediana:1vw;
$letraGrande:2vw;
	
/*dimensiones*/
$paddingMediano: 5%;
$paddingChico: 2%;
$marginIzquierdoCentrado: 10%;
$cien: 100%;




		/*modificación de elementos*/
header{
 text-align: $centrado;
	
	img{
		margin-left: 10%;
	}
	
	ul{
	  list-style: none;
	  font-family: $fuenteRoboto;
	 }
	li{
	    font-weight: bold;
		padding: $paddingChico;
		display: inline-block;
	}

}

.imagenVerde{
	text-align: $centrado;
	height: $cien;
	width: $cien;
	
	img{
	 height: 95%;
	 width: 95%;
	}	
}

.texto-Episode1{
 font-family: $fuenteRoboto;
 margin-left: 1%;
	h2,h4{
	 padding: 1%;
	}
 
	h5{
	  color: #414549;
	  padding: $paddingChico;
	}
	p{
		padding: $paddingChico;
		color: #414549;
	}
}

.lineaAzul{
	border: solid 2px $colorAzul;
	padding: 0;
	min-height: 0;
	text-align: center;
	margin-left: 1.5%;
}

.news{
	p{
		font-family: $fuenteRoboto;
		color: $colorGrisClaro;
		
	}
	
	.azul{
		color: $colorAzul;
		font-size: $letraChica;
	}
}















