@import'grid';
@import'colors';
@import'mixin';
@import'variables';

/*modificación de elementos*/

body {
	@include estilosFuentes;
}

@for $i from 1 through 6 {
	h#{$i} {
		@include fuentesTitulos;
	}
}

@function paddingLineas($paddingLineas){
	@return $paddingLineas + 5%; 
}



header {
	text-align: $centrado;
	img {
		margin-left: 10%;
	}
	ul {
		list-style: none;
		font-family: $fuenteRoboto;
	}
	li {
		font-weight: bold;
		padding: $paddingChico;
		display: inline-block;
	}
}

.contenedorImg {
	text-align: $centrado;
	height: $cien;
	width: $cien;
	img {
		height: 95%;
		width: 95%;
	}
}

.contenedorimgChica {
	img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}
	.tweet {
		height: 20%;
		width: 20%;
	}
}

.texto-Episode1 {
	margin-left: 1%;
	h2,
	h4 {
		padding: 1%;
	}
	h5 {
		padding: $paddingChico;
	}
	p {
		padding: $paddingChico;
	}
}

.lineaAzul{
	@include lineaAzul;
	 margin-top: paddingLineas(10);
}

.lineaAzulChica{
	@include lineaAzul;
}

.titulo {
	
	text-align: $izquierda;
	@include fuentesTitulos;
}

.news {
	.fecha {
		@include estilosFuentes;
		
	}
	.azul {
		@include fuenteAzul;
	}
	.sobre {
		background: $colorBanco;
		margin-top: 15%;
	}
}

.contactoGoogle {
	ul {
		list-style: none;
	}
	li {
		@include estilosFuentes;
	}
}






















